{
  "parser"  : "babel-eslint",
  "extends" : [
    "standard",
    "standard-react"
  ],
  "env"     : {
    "browser" : true
  },
  "rules": {
    "no-class-assign": 0,
    "react/jsx-no-bind": 0
  }
}
